.product-container {
    border: none !important;
    background-color: transparent !important;
}

.prod-details {
    display: grid;
    grid-gap: 1rem;
    grid-template: 'date content';
}

.prod-details p {
    margin-bottom: 0;
}

.prod-rating {
    text-align: end;
    font-size: 0.8em;
}


.prod-rating>.fill {
    color: #FFB658;
}

.prod-rating>span {
    color: #3B3C36;
    margin-left: 1.2px;
    margin-right: 1.2px;
}


.prod-btn {
    border-radius: 80px !important;
}