@use "../InCartTable.scss" as table;

.incart-item-wrapper {
    border-bottom: 1px solid gray
}


.incart-item {

    // border: 4px solid green;
    background-color: table.$table-bg-color !important;

    .incart-container {
        display: flex;
        flex-direction: row;
    }

    .incart-wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        
    }


    .item-img-wrapper {
        // border: 2px solid orange;
        width: 5.5em;
        height: 5em;
        display: flex;
    }

    .item-content {
        // border: 2px solid red;
        margin-left: 0.5em; 

        .item-details {
            // border: 2px solid blue;
            display: grid;
            grid-gap: 1rem;
            grid-template: 'date content';

            span:first-child {
                text-align: start;
            }

            span:last-child {
                text-align: end;
                font-weight: bold;
            }
        }

        .actions-wrapper {
            // border: 2px solid blue;
            padding-top: 0.2em;

            .actions-list {
                display: flex;
                justify-content: flex-end;
            }

            .actions-list > .list-group-item {
                background-color: transparent;
                border: none;
            }

            .actions-list > .list-group-item:last-child {
                padding-right: 0;
            }

            button.remove {
                background-color: transparent;
                border-color: transparent;
                color: #525050;

            }

            button.remove:active, button.remove:hover {
                background-color: #dc3545 !important;
                color: #fafafa !important;
            }
        }
    }

}


