$table-bg-color: #F2F2F2;

.incart-display {
    border: 2px solid red;

    .brand-icon {
        color: #2b8069;
        font-size: 1.7em;
    }
    
    .incart-header {
        display: flex;
        background-color: $table-bg-color;

        .content-wrapper {
            display: flex;
            flex-direction: column;
            margin-left: 1em;

            span:last-child { 
                font-weight: bold;
            }
        }

        .icon-wrapper {
            display: flex;
            align-items: center;
        }
    }
}