.header-wrapper
{
    height: 20em;
}
    .header-wrapper
    {
        width: 100%;
        height: 30em;
    }
        .header-wrapper img
        {
            width: 100%;
            height: 100%;
            object-fit: fill; 
        }