.nav-wrapper
{
    border: 2px solid red;
    background-color: #1C3144;
    color: white;
}

.twinlande-brand
{
    /* border: 2px solid green; */
    font-weight: bold;
    display: flex;
    flex-direction: column;
}
    .twinlande-brand > *
    {
        text-align: center;
    }

    .brand-icon
    {
        font-size: 1.4em;
        color: white;
    }
    .brand-name
    {
        font-size: .8em;
        color: white;
    }

.nav-cntr
{
    /* border: 2px solid green; */
    display: flex;
    flex-direction: row;
    
    overflow: hidden;
}
    .user-opt-cntr
    {
        /* border: 2px solid green; */
        display: flex;
        flex-direction: column;
    }
        .search-wrapper
        {
            /* border: 2px solid blue; */
            width: 25em;
            margin: auto;
        }
        .category-ctr
        {
            /* border: 2px solid blue !important; */
            overflow: hidden;
        }
            .nav-category
            {
                /* border: 2px solid green; */
                margin-left: 5px;
                margin-right: 5px;
                text-align: center;
                font-weight: bold;
                cursor: pointer;
            }

    .user-options
    {
        /* border: 2px solid green !important; */
        /* margin-left: 8px; */
        display: flex;
        flex-direction: row;
        
    }   
        .user-option
        {
            /* border: 2px solid green; */
            display: flex;
            flex-direction: column;
            text-align: center;
            font-weight: bold;
            margin-left: 0.4em;
            margin-right: 0.4em;
        }
        .uo-icon
        {
            /* border: 2px solid green; */
            font-size: 1.7em;
        }
        .uo-label
        {
            /* border: 2px solid green; */
            font-size: 0.5em;
        }