.notifications-container{
    /* display: flex;
    flex-direction: row;
    flex-wrap: wrap; */
    /* column-gap: 1em; */
    /* row-gap: 1em; */
    /* justify-content: center; */
    /* border: 2px solid red; */
    width: 32em;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, 13em);
    column-gap: 1em;
}
